/* Index CSS. */

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-image: url("/img/gradient.png");
  background-size: cover;
  background-position: center;
}

.index-header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.index-header h1 {
  font-size: 72px;
  position: relative;
  display: block;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.index-header p {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1100px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: rgba(255, 255, 255, 0.5);
  border: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 6px;
}

.btn:hover {
  background-color: #3e8e41;
}

.image-container {
  float: right;
}

.image-container img {
  width: 500px;
  height: 500px;
  height: auto;
  margin-left: 160px;
}

.purpose {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  height: 600px;
  margin-top: -100px;
  margin-left: 10%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.purpose h2 {
  font-size: 48px;
  position: relative;
  display: block;
  text-align: center;
}

/* About CSS. */

a {
  color: white;
}

.about-header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 80px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.about-header h2 {
  margin-top: 10%;
  font-size: 48px;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 24px;
}

.about-header h3 {
  font-size: 32px;
  position: relative;
  display: block;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 24px;
}

.about {
  font-size: 20px;
  max-width: 900px;
  position: relative;
  display: block;
}

.card-group {
  margin-top: 10%;
}

.instructions {
  font-size: 20px;
  max-width: 900px;
  position: relative;
  display: block;
}

.email {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-text {
  width: 33%;
  font-size: 16px;
  text-align: center;
}

.card-img-top {
  width: 50%;
  height: auto;
  margin: auto;
}

#img-background {
  background-color: transparent;
}

/* Media Query */

@media screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    padding-top: 80px;
    overflow-x: hidden;
  }

  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .landing h1 {
    font-size: 40px;
  }

  .landing p {
    font-size: 18px;
    padding-right: 8%;
    padding-left: 13%;
    text-align: left;
  }

  .purpose .row {
    flex-direction: column-reverse;
  }

  .purpose .col-md-8,
  .purpose .col-md-4 {
    flex: 1;
    max-width: 100%;
  }

  .purpose .col-md-8 {
    order: 2;
  }

  .purpose .col-md-4 {
    order: 1;
  }

  .purpose h2 {
    font-size: 40px;
    margin-left: -10%;
  }

  .purpose p {
    font-size: 18px;
  }

  .image-container {
    float: left;
  }

  .image-container img {
    width: 400px;
    height: 400px;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .about-container {
    margin-top: 60%;
  }

  .about-header {
    padding: 0 20px;
  }

  .about-header h2 {
    font-size: 30px;
  }

  .about-header h3 {
    font-size: 24px;
  }

  .about-header p {
    font-size: 16px;
  }

  .card-group {
    flex-direction: column;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50%;
  }

  .card {
    margin-bottom: 20px;
    max-height: 30%;
  }

  .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .email-text {
    margin-bottom: 10px;
  }

  #home-btn {
    display: none;
  }

  #img-background img {
    width: 180px;
    height: auto;
  }

  #beforelogin {
    background-color: rgba(0, 0, 0, 0.25);
  }
}
