body {
  background-image: url("/img/gradient.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

#firebaseui-auth-container {
  border: 1px solid #dddddd;
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
}

#firebaseui-auth-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#firebaseui-auth-container button {
  font-size: 16px;
  color: #dddddd;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#firebaseui-auth-container button:hover {
  background-color: #95bb72;
}
