body {
  height: 120vh;
  background-image: url("/img/gradient-main.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin-top: 80px;
  max-width: 1000px;
  border-radius: 10px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin-left: 28px;
}

.points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  margin-left: 28px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
}

.h1-tasks {
  margin-bottom: 28px;
}

.row {
  display: flex;
  align-items: stretch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-image: url("/img/gradient-main.png");
  background-size: cover;
}

#task-tracker tr {
  border-bottom: 1px solid #ddd;
}

.task {
  padding: 5px 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.task:hover {
  background-color: #3e8e41;
}

.hidden {
  display: none;
}