body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-image: url("/img/gradient-main.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin-top: 80px;
  max-width: 1000px;
  border-radius: 10px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin-left: 28px;
}

.points-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  margin-left: 28px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  margin-bottom: 5%;
}

.h1-tasks {
  margin-bottom: 28px;
}

.row {
  display: flex;
  align-items: stretch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-image: url("/img/gradient-main.png");
  background-size: cover;
}

#task-tracker tr {
  border-bottom: 1px solid #ddd;
}

.task {
  padding: 5px 8px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.task:hover {
  background-color: #3e8e41;
}

.hidden {
  display: none;
}

#completed-tasks-table {
  display: none;
}

#task-list {
  display: none;
}

.table {
  display: none;
}

#add-task {
  display: none;
}

#footerapp {
  display: none;
}

#navmobile {
  display: none;
}

#task-tracker th:last-child {
  display: none;
}

#task-tracker td:last-child {
  display: none;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
    height: 100vh;
    width: auto;
  }

  #afterlogin {
    display: none;
  }

  #navmobile {
    display: inline-block;
  }

  #wrapper {
    min-height: 100%;
    position: relative;
  }

  #content {
    padding-bottom: 60px;
  }

  #footerapp {
    display: flex;
    position: absolute;
    bottom: 0;
    background-image: url("/img/gradient-main.png");
    width: 100%;
    height: 80px;
    padding-top: 10px;
  }

  .container {
    position: relative;
    margin-top: 50px;
    max-width: 380px;
    border-radius: 10px;
  }

  .welcome-container {
    margin-top: 90px;
  }

  .points-container {
    position: relative;
    max-width: 380px;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
  }

  .leaderboard-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 380px;
    margin-bottom: 30%;
  }

  .row.align-items-stretch {
    flex-direction: column;
  }

  table {
    width: 330px;
    border-collapse: collapse;
    margin-top: 2%;
    border-radius: 3px;
    margin-left: -7%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 5px;
    text-align: center;
  }

  .material-symbols-outlined {
    color: white;
  }

  .nav-link {
    color: white;
  }
}
