#navmobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #3e8e41;
    border-bottom: 2px solid yellowgreen;
  }
  
.navbar-brand{
    margin-top: 3%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
  
.nav-link-mobile {
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: transparent;
}
  