html {
  overflow-x: hidden;
  height: 100vh;
}

#navmobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-image: url("/img/gradient-main.png");
}

#nav-brand-mobile {
  padding-top: 10px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link-mobile {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  text-decoration: none;
}

.mobile-container{
  margin-left: -20%;
}
