/* Navbar CSS. */

.navbar {
  font-family: 'Exo', sans-serif;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  font-size: 32px;
  margin-left: 10px;
  margin-bottom: 6px;
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.nav-link {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
}

.material-symbols-outlined{
  display: block !important;
}

/* Footer CSS. */

.footer {
  width: 100%;
  color: white;
  font-family: 'Exo', sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer i {
  font-size: 0.5rem;
  margin: 10px;
}

.footer h6 {
  margin: auto;
}

/* Media query */ 

@media only screen and (max-width: 768px) {

  .navbar-brand{
    font-size: 30px;
    margin-left: -10%;
  }

.button{
  margin-left: -5%;
}

  /* Dropdown menu */
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:hover {
  background-color: #adb5bd;
}

/* Mobile dropdown */
.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle::before {
  content: '\25bc';
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
}

.dropdown-toggle {
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.dropdown-toggle:focus {
  color: #ffffff;
  outline: none;
  box-shadow: none;
}



}
