body {
  height: 100vh;
  background-image: url("/img/gradient-main.png");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

.btn {
  margin-bottom: 10px;
  background-color: #4caf50;
  border: none;
}

.btn:hover {
  background-color: #3e8e41;
  border-color: #3e8e41;
}

.card {
  border-radius: 10px;
}

.img-profile {
  margin-top: 10px;
}

.container {
  margin-top: 40px;
}

.profile-image {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.profile-image img {
  display: block;
  width: 100%;
  height: auto;
}

.profile-image label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #333333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.profile-image label:hover {
  background: #666666;
}

.profile-image input[type="file"] {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-image: url("/img/gradient-main.png");
  background-size: cover;
}

#task-tracker tr {
  border-bottom: 1px solid #ddd;
}

#add-task {
  display: none;
}

.task {
  padding: 5px 8px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.task:hover {
  background-color: #3e8e41;
}

.hidden {
  display: none;
}

.container {
  margin-bottom: 5%;
}

#points-goes-here {
  float: right;
}

#redeemed-points {
  float: right;
}

.right-aligned {
  text-align: right;
}

#task-list {
  display: none;
}

img {
  width: 80px;
  height: auto;
}

#footerapp {
  display: none;
}

#navmobile {
  display: none;
}

#task-tracker th:last-child {
  display: none;
}

#task-tracker td:last-child {
  display: none;
}

@media only screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    font-size: 14px;
    max-height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-top: 30%;
  }

  #afterlogin {
    display: none;
  }

  #navmobile {
    display: inline-block;
  }

  table {
    width: 330px;
    margin-top: 5%;
  }

  .container {
    margin-bottom: 30%;
  }

  .card {
    margin-bottom: 30px;
  }

  th,
  td {
    padding: 8px;
  }

  #task-tracker {
    padding: 8px 28px 8px 12px;
  }

  #wrapper {
    min-height: 100%;
    position: relative;
  }

  #content {
    padding-bottom: 60px;
  }

  #footerapp {
    display: flex;
    position: absolute;
    bottom: 0;
    background-image: url("/img/gradient-main.png");
    width: 100%;
    height: 80px;
    padding-top: 10px;
  }

  .material-symbols-outlined {
    color: white;
  }

  .nav-link {
    color: white;
  }
}
