body {
  background-image: url("/img/gradient-main.png");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}

form {
  margin-top: 30px;
}

.container {
  margin-top: 80px;
  max-width: 1000px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
}

.btn-primary:hover {
  background-color: #3e8e41;
  border-color: #3e8e41;
}
