h2 {
  text-align: center;
}




.redeem-modal {
  width: 100%;
  border: 1px solid #444444;
}

button {

  font-size: 1rem;
  color: black;
  margin: 20px;
  padding: 7px 14px 7px 14px;
  background-color: #ddd;
  float: right;

}
