h1 {
  text-align: center;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings h4 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.settings label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.settings button[type="submit"] {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }

.settings button[type="submit"]:hover {
  background-color: #95bb72;
}

.btn-container {
  margin-top: 24px;
  text-align: center;
}
