body {
  background-image: url("/img/gradient-main.png");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

select {
  margin-top: 8px;
  margin-bottom: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  max-width: 1000px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
}

.btn-primary:hover {
  background-color: #3e8e41;
  border-color: #3e8e41;
}

.settings h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.settings input {
  margin-right: 6px;
}

.settings label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
